.spending-wrapper {
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 6px;
  flex-direction: row;

  .inner-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;

    Button {
      color: gray;
    }
  }

  .descriptions,
  .amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }
}
